body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #3E1E68;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 80%;
  left: 16%;
  animation-duration: 12.8s;
  animation-delay: -11.4s;
  transform-origin: 21vw -8vh;
  box-shadow: -40vmin 0 8.4249590657vmin currentColor;
}
.background span:nth-child(2) {
  color: #583C87;
  top: 90%;
  left: 83%;
  animation-duration: 12.3s;
  animation-delay: -7.6s;
  transform-origin: 17vw 17vh;
  box-shadow: -40vmin 0 8.1525794458vmin currentColor;
}
.background span:nth-child(3) {
  color: #583C87;
  top: 14%;
  left: 7%;
  animation-duration: 13.8s;
  animation-delay: -8.2s;
  transform-origin: 6vw 17vh;
  box-shadow: -40vmin 0 11.4912079668vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 64%;
  left: 9%;
  animation-duration: 10.1s;
  animation-delay: -12.4s;
  transform-origin: 0vw -24vh;
  box-shadow: 40vmin 0 9.7792280021vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 21%;
  left: 20%;
  animation-duration: 10.4s;
  animation-delay: -3.8s;
  transform-origin: -14vw 3vh;
  box-shadow: 40vmin 0 12.184798725vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 77%;
  left: 29%;
  animation-duration: 13.3s;
  animation-delay: -14.2s;
  transform-origin: 19vw -24vh;
  box-shadow: 40vmin 0 9.9696679569vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 69%;
  left: 3%;
  animation-duration: 10.3s;
  animation-delay: -10.6s;
  transform-origin: 14vw 1vh;
  box-shadow: 40vmin 0 13.4504027394vmin currentColor;
}
.background span:nth-child(8) {
  color: #583C87;
  top: 77%;
  left: 72%;
  animation-duration: 12.8s;
  animation-delay: -4s;
  transform-origin: -3vw -20vh;
  box-shadow: -40vmin 0 14.7404152202vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 8%;
  left: 72%;
  animation-duration: 11.9s;
  animation-delay: -10s;
  transform-origin: -5vw -21vh;
  box-shadow: 40vmin 0 8.2815458032vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 16%;
  left: 54%;
  animation-duration: 13.8s;
  animation-delay: -14.8s;
  transform-origin: 7vw -22vh;
  box-shadow: 40vmin 0 5.0560755301vmin currentColor;
}
.background span:nth-child(11) {
  color: #583C87;
  top: 2%;
  left: 76%;
  animation-duration: 13.9s;
  animation-delay: -11.3s;
  transform-origin: -2vw -14vh;
  box-shadow: 40vmin 0 9.0535213205vmin currentColor;
}
.background span:nth-child(12) {
  color: #E45A84;
  top: 98%;
  left: 45%;
  animation-duration: 15.2s;
  animation-delay: -11s;
  transform-origin: 16vw 20vh;
  box-shadow: 40vmin 0 13.0237578015vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 93%;
  left: 53%;
  animation-duration: 10.1s;
  animation-delay: -9.4s;
  transform-origin: -6vw 20vh;
  box-shadow: 40vmin 0 12.1929266809vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 11%;
  left: 8%;
  animation-duration: 15s;
  animation-delay: -0.5s;
  transform-origin: 21vw -8vh;
  box-shadow: -40vmin 0 9.4303843479vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 23%;
  left: 93%;
  animation-duration: 15.1s;
  animation-delay: -0.7s;
  transform-origin: 0vw 23vh;
  box-shadow: -40vmin 0 10.7700682806vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 62%;
  left: 87%;
  animation-duration: 14s;
  animation-delay: -10.8s;
  transform-origin: 18vw 11vh;
  box-shadow: 40vmin 0 10.897624472vmin currentColor;
}
.background span:nth-child(17) {
  color: #FFACAC;
  top: 56%;
  left: 65%;
  animation-duration: 14.1s;
  animation-delay: -7s;
  transform-origin: 24vw -15vh;
  box-shadow: 40vmin 0 13.7746944492vmin currentColor;
}
.background span:nth-child(18) {
  color: #FFACAC;
  top: 41%;
  left: 35%;
  animation-duration: 11.4s;
  animation-delay: -9.2s;
  transform-origin: -11vw -4vh;
  box-shadow: 40vmin 0 13.6545252629vmin currentColor;
}
.background span:nth-child(19) {
  color: #E45A84;
  top: 35%;
  left: 19%;
  animation-duration: 15.7s;
  animation-delay: -7.4s;
  transform-origin: 13vw 5vh;
  box-shadow: -40vmin 0 10.9612104997vmin currentColor;
}
.background span:nth-child(20) {
  color: #583C87;
  top: 55%;
  left: 1%;
  animation-duration: 10.9s;
  animation-delay: -5.5s;
  transform-origin: 25vw -4vh;
  box-shadow: -40vmin 0 9.2836236695vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}