html {
    height: 100vh; 
    min-height: 100%;
}

/*body {
    background-image: url('img/bg_blurry_beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

body.blurry {
    background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

body {
    background: white;
}

.content {
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: 16rem;
}


#viewport {
    margin: 0;
    width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 1);;
  border-bottom: 4px solid black;
}

.navigation .logo {
  position: relative;
  margin: auto;
  top: 32px;
}

#logo-img {
    width: auto;
    height: 90px;
    z-index: 5;
}

.navigation .controls {
    position: relative;
    top: 20px;
}

.navigation .controls * {
    display: flex;
    align-items:center;
    justify-content:center;
}

.navigation .controls button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2rem;
    margin: auto;
}

.navigation .controls marquee {
    margin: auto;
}

#social {
    opacity: 70%;
}

#social a {
    display: flex;
    align-items: center;
    text-align: center;
}

#social img {
    width: 4rem;
    height: auto;
    margin: auto;
    opacity: 30%;
    /*filter: grayscale(100%);*/
}
#social img:hover {
    opacity: 100%;
    /*filter: grayscale(0);*/
}

.copyright {
    text-align: center;
}


#right-col {
    flex: 0 0 85%;
    max-width: 85%;
    padding: 0;
}

#current {
    padding: 4rem 0;
}

#current-track-card {
    width: 100%;
    max-width: 60rem;
    padding: 2rem;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
}

#current-track-md {
    padding: 2rem;
}

#albumArt {
    height: 100%;
    width: auto;
}

#next {
    border-top: 5px solid black;
}

#next .row {
  margin-left: 0;
  width: 100%;
}

#next .next-image {
    padding: 0;
}

#next .next-image img {
    width: 100%;
    height: 100%;
}

#left-col {
    border-left: 5px solid black;
    padding: 0;
}