html {
    height: 100vh; 
    min-height: 100%;
}

/*body {
    background-image: url('img/bg_blurry_beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

body.blurry {
    background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

body {
    background: white;
}

.container.content {
    padding: 8rem 0;
    max-width: 420px;
}

hr {
    opacity: 0;
}

.navigation {
  /*background-color: rgba(220, 220, 220, 0.3);;
  border-bottom: .1rem solid #f3f3f3;
  */
  display: flex;
  max-width: 100%;
  width: 100%;
}

.navigation .logo {
  margin: auto;
  padding: 1rem;
}

.navigation .navigation-title {
    display: flex;
}

.navigation .navigation-title * {
    margin: auto;
}

.navigation .title {
  font-size: 2rem;
  padding: 0;
  text-decoration: none;
}

#logo-img {
    width: 16rem;
    height: auto;
}

#social {
    opacity: 70%;
}

#social a {
    display: flex;
    align-items: center;
    text-align: center;
}

#social img {
    width: 4rem;
    height: auto;
    margin: auto;
    opacity: 30%;
    /*filter: grayscale(100%);*/
}
#social img:hover {
    opacity: 100%;
    /*filter: grayscale(0);*/
}

.copyright {
    text-align: center;
}

#current-track-card {
    padding: 2rem;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
}

#current-track-md {
    padding: 2rem;
}

