html {
    height: 100vh; 
    min-height: 100%;
}

/*body {
    background-image: url('img/bg_blurry_beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

body.blurry {
    background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

body {
    background: white;
}

.content {
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-top: 16rem;
}

#viewport {
    margin: 0;
    width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 1);;
  border-bottom: 4px solid black;
  z-index: 1000;
}

.navigation > .container {
  height: auto;
  padding-top: 50px;
}



.navigation .logo {
  position: relative;
  margin: auto;
}

#logo-img {
    position: relative;
    width: auto;
    height: 90px;
    z-index: 5;
}

.navigation .controls {
    position: relative;
}

.navigation .controls * {
    display: flex;
    align-items:center;
    justify-content:center;
}

.navigation .controls button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2rem;
    margin: auto;
}

.navigation .controls marquee {
    margin: auto;
}

#nav-underline {
    position: fixed;
    top: 104px;
    width: 100%;
    height: 4px;
    background-color: #F3000B;
    z-index: 900;
}

#social {
    position: relative;
    bottom: 0;
}

#social a {
    display: flex;
    align-items: center;
    text-align: center;
}

#social a:hover {
    transform: scale(1.1);
}

#social svg {
    width: 3rem;
    height: auto;
    margin: auto;
}

.copyright {
    text-align: center;
}

#viewport > .column {
  padding: 0;
}

#right-col {
    flex: 0 0 85%;
    max-width: 85%;
    padding: 0;
}

#current {
    padding: 4rem 0;
}

#current-track-card {
    width: 100%;
    max-width: 60rem;
    padding: 2rem;
    box-shadow: 0 5px 8px #AAA;
    border-radius: 15px;
}

#current-track-md {
    padding: 2rem;
}

#albumArt {
    height: 100%;
    width: auto;
}

#artist-name {
    font-weight: bold;
}

#next {
    border-top: 5px solid black;
}

#next .row {
  margin-left: 0;
  width: 100%;
}

#next .row .column {
  position: relative;
}

#next .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 2rem;
  color: black;
    
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  text-align: center;
}

#next .overlay:hover {
  opacity: 1;
}

#next .overlay .overlay-artist {
  font-weight: bold;
}

#next .next-image {
    padding: 0;
}

#next .next-image img {
    width: 100%;
    height: 100%;
}

#left-col {
    border-left: 5px solid black;
    padding: 0;
}